html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: #e2dea8;
}
h2 {
  text-align: center;
}
div {
  margin: 0 50px;
}
.wrapper {
  display: flex;
  justify-content: center;
}